<div class="row">
    <div class="col h4 text-center">{{ t.SelectSetLanguage }}</div>
</div>

<div class="row">
    <div class="col-auto mx-auto my-2">
        <form class="form-inline" action="/" method="post">

            <select name="set" class='form-control mr-md-1'>{{ IndexCodeSetSelect }}</select>
            <select name="lang" class='form-control mr-md-1'>{{ IndexLanguageSelect }}</select>
            <select name="lang2" class='form-control mr-md-2'>{{ IndexLanguage2Select }}</select>
            <input
                type='submit'
                class='btn btn-secondary mt-1 mt-md-0'
                value="{{ t.ViewSet }}">

        </form>
    </div>
</div>
