{% extends 'index.twig' %}

{% block content %}

    {% include 'code-select.twig' %}

    <hr id="edit">

    <div class="row">
        {% if code %}
            <div class="col-12 col-md text-center text-md-left order-2 h3">
                {{ code }}
            </div>
        {% endif %}
        <div class="col-12 col-md h3 text-center order-1 order-md-2">
            {{ desc }}
        </div>
        {% if code %}
            <div class="col-12 col-md text-center text-md-right order-3 mt-md-2">
                ({{ t.NumberOfMany(nav.pos, nav.count) }})
            </div>
        {% endif %}
    </div>

    <div class="row mb-3">
        <div class="col text-muted text-center">
            {# Supress other hints if there is a specific code set hint #}
            {% if code_set_hint %}
                <h5>{{ code_set_hint }}</h5>
            {% elseif code_admin.param %}
                {{ t.ParameterSetHint }}
            {% elseif code_admin.slave %}
                {{ t.SlaveSetHint }}
            {% endif %}
        </div>
    </div>

    {% if code != '' %}

        {% set link_next = pathFor('edit', {
            'set': set,
            'code': nav.next,
            'lang': lang,
            'lang2': lang2
        }) %}

        {% if nav.count > 1 %}
            <div class="row mb-3">
                <div class="col btn-group" role="group">
                    <a
                        href="{{ pathFor('edit', {'set': set, 'code': nav.first, 'lang': lang, 'lang2': lang2}) }}#edit"
                        class="btn btn-outline-secondary form-control">
                        <i class="fa fa-fw fa-fast-backward"></i>
                        {{ nav.first}}
                    </a>
                    {% if nav.count > 2 %}
                        <a
                            href="{{ pathFor('edit', {'set': set, 'code': nav.prev, 'lang': lang, 'lang2': lang2}) }}#edit"
                            class="btn btn-outline-secondary form-control">
                            <i class="fa fa-fw fa-step-backward"></i>
                            {{ nav.prev}}
                        </a>
                        <a class="btn btn-outline-secondary form-control" href="{{ link_next }}#edit">
                            {{ nav.next }}
                            <i class="fa fa-fw fa-step-forward"></i>
                        </a>
                    {% endif %}
                    <a
                        href="{{ pathFor('edit', {'set': set, 'code': nav.last, 'lang': lang, 'lang2': lang2}) }}#edit"
                        class="btn btn-outline-secondary form-control">
                        {{ nav.last}}
                        <i class="fa fa-fw fa-fast-forward"></i>
                    </a>
                </div>
            </div>
        {% else %}
            <hr>
        {% endif %}
    {% endif %}

    <form action="{{ pathFor('POST edit') }}" method="post">

        {{ macros.input_hidden('lang', lang) }}
        {{ macros.input_hidden('lang2', lang2) }}
        {{ macros.input_hidden('set', set) }}
        {{ macros.input_hidden('code_old', code) }}
        {{ macros.input_hidden('cloned', cloned) }}
        {{ macros.input_hidden('next', link_next ?? '') }}

        <div class="row form-group">
            <div class="col-md-3">
                <label class="text-bold col-form-label float-left" for="input-code">{{ t.Code }}</label>
            </div>
            <div class="col">
                {% set max = (set == 'code_set') ? 16 : 50 %}
                {% if can_rename and code and not cloned %}
                    <button
                        id="btn-rename"
                        class="btn btn-link text-danger"
                        style="position:absolute; right:0; top:.25rem"
                        data-toggle="tooltip"
                        title="{{ t.h('RenameCode') }}">
                        <i class="fa fa-fw fa-pencil"></i>
                    </button>
                {% endif %}
                <input
                    id="input-code"
                    type="text"
                    class="{{ code and not cloned ? 'form-control-plaintext font-weight-bold' : 'form-control' }}"
                    name="code"
                    maxlength="{{ max }}"
                    value="{{ code }}"
                    required="required"
                    {{ code and not cloned ? 'readonly="readonly"' }}>
                {% if code == '' %}
                    <small class="form-text">{{ t.CodeMaxChars(max) }}</small>
                {% endif %}
                {% if not logged_in %}
                    <p>{{ hint }}</p>
                {% endif %}
            </div>
        </div>

        {% if set == 'code_set' %}
            {% if code starts with 'code_' %}
                {{ macros.input_hidden('admin[param]', admin.param) }}
                {{ macros.input_hidden('admin[slave]', admin.slave) }}
                {{ macros.input_hidden('admin[multi]', admin.multi) }}
            {% else %}
                {{ macros.input_row_admin('radio', '', true, t.NormalSet) }}
                {{ macros.input_row_admin('radio', 'param', admin.param, t.ParameterSet, t.ParameterSetHint) }}
                {{ macros.input_row_admin('radio', 'slave', admin.slave, t.SlaveSet, t.SlaveSetHint) }}
                {{ macros.input_row_admin('checkbox', 'multi', admin.multi, t.MultilineSet, t.MultilineSetHint) }}
            {% endif %}
        {% else %}
            {% if logged_in %}
                {% if not code_admin.param %}
                    {# Parameters are always active #}
                    {{ macros.input_row_admin('checkbox', 'active', not active, t.Deprecated, t.DeprecatedHint) }}
                {% endif %}
                {% if multi %}
                    <div class="form-group row">
                        <div class="col-md-3">{{ t.WithQuantity }}</div>
                        <div class="col">
                            <div class="custom-control custom-checkbox">
                                <input
                                    id="checkbox-quantity"
                                    class="custom-control-input"
                                    type="checkbox"
                                    name="quantity"
                                    {{ quantity ? 'checked' }}>
                                <label for="checkbox-quantity" class="custom-control-label text-muted">
                                    {{ t.WithQuantityHint }}
                                </label>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                {{ macros.input_hidden('active', active ? 1) }}
                {{ macros.input_hidden('quantity', quantity ? 0) }}
                {% if not active or quantity %}
                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col form-text text-italic">
                            {% if not active %}
                                {{ t.DeprecatedHint }}
                                <br>
                            {% endif %}
                            {% if quantity %}
                                {{ t.WithQuantityHint }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if not logged_in or code starts with 'code_' or code_admin.param %}
            {{ macros.input_hidden('order', order) }}
        {% else %}
            <div class="row form-group">
                <label class="col-md-3 col-form-label" for="input-order">{{ t.CodeOrder }}</label>
                <div class="col">
                    <div class="input-group input-group-sm spinner" data-trigger="spinner">
                        <div class="input-group-prepend">
                            <div class="input-group-text px-0">
                                <button class="btn btn-link btn-sm text-body" data-spin="down">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <input
                            id="input-order"
                            class="form-control"
                            type="text"
                            data-rule="defaults"
                            name="order"
                            value="{{ order }}"
                            pattern="-?[0-9]*">
                        <div class="input-group-append">
                            <span class="input-group-text px-0">
                                <button class="btn btn-link btn-sm text-body" data-spin="up">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if logged_in %}
            <div class="row form-group">
                <label class="col-md-3 form-control-plaintext">
                    {{ t.Hint }}
                </label>
                <div class="col">
                    {% if code_admin.param %}
                        {{ macros.input_hidden('hint', hint) }}
                        {{ hint }}
                    {% else %}
                        <input class="form-control" type="text" name="hint" value="{{ hint }}">
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% for row in lang_rows %}
            {% if row.code == native and code_admin.slave %}
                {{ macros.input_hidden("desc[#{row.code}]", row.code_desc) }}
            {% else %}
                <div class="row form-group">
                    <label class="col-md-3 form-control-plaintext">
                        {% if not code_admin.param %}
                            {{ row.desc }}
                        {% endif %}
                    </label>
                    <div class="col">
                        {% if not logged_in and row.code == native %}
                            <p class="form-control-plaintext">{{ row.code_desc|e|nl2br }}</p>
                        {% else %}
                            {% if multi %}
                                <textarea class="form-control" name="desc[{{ row.code }}]" rows="5">{{ row.code_desc|e }}</textarea>
                            {% else %}
                                <input
                                    class="form-control"
                                    type="text"
                                    name="desc[{{ row.code }}]"
                                    value="{{ row.code_desc|e }}">
                            {% endif %}

                            {% if code != '' and row.translate %}
                                <small class="form-text">
                                    <a class="mr-3" href="{{ row.translate.0 }}" target="_gt">
                                        <i class="fa fa-fw fa-google"></i>
                                        Google Translate
                                    </a>
                                    <a href="{{ row.translate.1 }}" target="_dt">
                                        <i class="fa fa-fw fa-globe"></i>
                                        DeepL translator
                                    </a>
                                </small>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="row form-group">
            <div class="col-lg-3"></div>
            <div class="col-12 col-lg mb-2 mb-lg-0">
                <button type="submit" class="btn btn-block btn-primary">
                    <i class="fa fa-fw fa-floppy-o"></i>
                    {{ t.Save }}
                </button>
            </div>
            {% if code == '' or nav.count > 2 %}
                <div class="col-12 col-lg mb-2 mb-lg-0">
                    <button type="submit" name="go-next" class="btn btn-block btn-primary">
                        <i class="fa fa-fw fa-floppy-o"></i>
                        {{ t.SaveAndNext }}
                    </button>
                </div>
            {% endif %}

        </form>

        {% if nav.count > 2 %}
            <div class="col-12 col-lg mb-2 mb-lg-0">
                <a class="btn btn-block btn-secondary" href="{{ link_next }}#edit">
                    {{ t.Skip }}
                    <i class="fa fa-fw fa-step-forward"></i>
                </a>
            </div>
        {% endif %}

        {% if code != '' and can_delete %}
            <div class="col-12 col-lg">
                <form action="{{ pathFor('POST delete') }}" method="post">
                    {{ macros.input_hidden('set', set) }}
                    {{ macros.input_hidden('code', code) }}
                    {% if nav.count > 2 %}
                        {{ macros.input_hidden('next', link_next) }}
                    {% endif %}
                    <button type="submit" class="confirm-delete btn btn-block btn-danger">
                        <i class="fa fa-fw fa-trash-o"></i>
                        {{ t.Delete }}
                    </button>
                </form>
            </div>
        {% endif %}
    </div>

{% endblock %}
