{% macro add_code_th(can_add, set) %}
    <th colspan="4" class="w-1 pl-1">
        {% if can_add %}
            <a
                href="{{ pathFor('edit', {'set': set}) }}"
                class="btn btn-sm btn-block btn-light"
                data-toggle="tooltip"
                title="{{ t.AddCode }}">
                <i class="fa fa-plus"></i>
            </a>
        {% endif %}
    </th>
{% endmacro add_code_th %}

{% extends 'index.twig' %}

{% block content %}

    {% import _self as self %}

    {% include 'code-select.twig' %}

    <hr>

    <div class="row">
        <div class="col text-center">
            <h3>{{ set_desc }}</h3>
            <p class="text-muted">
                {% if admin.param %}
                    {{ t.ParameterSetHint }}
                {% elseif admin.slave %}
                    {{ t.SlaveSetHint }}
                {% endif %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table
                class="list table table-striped table-hover {{ set_rows|length > 100 ? 'table-sm' }}">
                <thead class="thead-dark">
                    <tr>
                        {% if set == 'code_set' %}
                            <th class="w-1">
                                <i class="fa fa-sliders"></i>
                            </th>
                        {% endif %}

                        <th class="w-1 text-right" data-toggle="tooltip" title="{{ t.Order }}">O</th>
                        <th class="w-1" style="min-width:12rem">
                            {# Table in table to hold text and input in line :-) #}
                            <table class="table mb-0">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="p-0">{{ t.Code }}</th>
                                        <th class="w-1">
                                            <input
                                                id="filter-code"
                                                type="text"
                                                class="form-inline p-0 {{ set_rows|length < 50 ? 'd-none' }}"
                                                style="width:7rem"
                                                maxlength="10"
                                                data-toggle="tooltip"
                                                title="{{ t.RegexPossible }}"
                                                placeholder="filter ...">
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </th>

                        <th {{ lang2 ? 'colspan="2"' }}>{{ t.Description }}</th>

                        {{ self.add_code_th(can_add, set) }}
                    </tr>
                </thead>
                <tbody>

                    {% for row in set_rows %}
                        <tr
                            class="{{ not row.active ? 'code-inactive' }}"
                            data-toggle="filter"
                            data-filter="{{ row.code }}">
                            {% if set == 'code_set' %}
                                <td class="text-center">
                                    {{ macros.adminflags(row) }}
                                </td>
                            {% endif %}

                            <td class="text-right">{{ row.order }}</td>

                            <td>
                                {% if set == 'code_set' %}
                                    <a
                                        href="{{ pathFor('list', {'set': row.code, 'lang': lang, 'lang2': lang2}) }}">{{ row.code }}</a>
                                {% else %}
                                    {{ row.code }}
                                {% endif %}
                            </td>

                            {% if lang2 %}
                                <td class="w-1 small">{{ lang }}</td>
                            {% endif %}

                            <td>
                                {{ (row.desc|length > text_length ? row.desc|slice(0, text_length) ~ ' ...' : row.desc)|nl2br }}
                            </td>

                            <td class="px-1">
                                {% if can_edit %}
                                    <a
                                        class="btn btn-sm btn-primary code-active"
                                        href="{{ pathFor('edit', {'set': set, 'code': row.code, 'lang': lang, 'lang2': lang2}) }}"
                                        data-toggle="tooltip"
                                        title="{{ t.Edit }}">
                                        <i class="fa fa-fw fa-pencil"></i>
                                    </a>
                                    <a
                                        class="btn btn-sm btn-secondary code-inactive"
                                        href="{{ pathFor('edit', {'set': set, 'code': row.code, 'lang': lang, 'lang2': lang2}) }}"
                                        data-toggle="tooltip"
                                        title="{{ t.Edit }}">
                                        <i class="fa fa-fw fa-pencil"></i>
                                    </a>
                                {% endif %}
                            </td>

                            <td class="px-1 {{ not row.active ? 'code-inactive' }}">
                                {# Internal code sets can't be cloned #}
                                {% if can_edit and row.order >= 0 %}
                                    <form class="form-inline" action="{{ pathFor('clone') }}" method="post">
                                        <input type="hidden" name="set" value="{{ set }}">
                                        <input type="hidden" name="code" value="{{ row.code }}">
                                        <button
                                            type="submit"
                                            class="btn btn-sm btn-primary code-active"
                                            data-toggle="tooltip"
                                            title="{{ t.CopyCode }}">
                                            <i class="fa fa-fw fa-clone"></i>
                                        </button>
                                        <button
                                            type="submit"
                                            class="btn btn-sm btn-secondary code-inactive"
                                            data-toggle="tooltip"
                                            title="{{ t.CopyCode }}">
                                            <i class="fa fa-fw fa-clone"></i>
                                        </button>
                                    </form>
                                {% endif %}
                            </td>

                            <td class="px-1 {{ not row.active ? 'in' }}active">
                                {% if not(row.code starts with 'code_')and can_edit %}
                                    <button
                                        type="submit"
                                        class="btn btn-sm btn-secondary code-active"
                                        data-set="{{ set }}"
                                        data-code="{{ row.code }}"
                                        data-action="toggle"
                                        data-toggle="tooltip"
                                        title="{{ t.ToggleState }}">
                                        <i class="fa fa-fw fa-ban"></i>
                                    </button>
                                    <button
                                        type="submit"
                                        class="btn btn-sm btn-secondary code-inactive"
                                        data-set="{{ set }}"
                                        data-code="{{ row.code }}"
                                        data-action="toggle"
                                        data-toggle="tooltip"
                                        title="{{ t.ToggleState }}">
                                        <i class="fa fa-fw fa-check"></i>
                                    </button>
                                {% endif %}
                            </td>

                            <td class="pl-1 {{ not row.active ? 'in' }}active">
                                {% if not(row.code starts with 'code_')and can_delete %}
                                    <button
                                        class="confirm-delete btn btn-sm btn-danger code-active"
                                        data-set="{{ set }}"
                                        data-code="{{ row.code }}"
                                        data-action="delete"
                                        data-toggle="tooltip"
                                        title="{{ t.Delete }}">
                                        <i class="fa fa-fw fa-trash-o"></i>
                                    </button>
                                    <button
                                        class="confirm-delete btn btn-sm btn-secondary code-inactive"
                                        data-set="{{ set }}"
                                        data-code="{{ row.code }}"
                                        data-action="delete"
                                        data-toggle="tooltip"
                                        title="{{ t.Delete }}">
                                        <i class="fa fa-fw fa-trash-o"></i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>

                        {% if lang2 %}
                            <tr
                                class="{{ row.desc2 == '' ? 'alert-warning'}} {{ not row.active ? 'code-inactive' }}"
                                data-toggle="filter"
                                data-filter="{{ row.code }}">
                                <td colspan="{{ set == 'code_set' ? 3 : 2 }}"></td>
                                <td class="small">{{ lang2 }}</td>
                                <td>
                                    {{ (row.desc2|length > text_length ? row.desc2|slice(0, text_length) ~ ' ...' : row.desc2)|nl2br }}
                                </td>
                                <td colspan="4"></td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                </tbody>

                {% set colspan = set == 'code_set' ? 4 : 3 %}

                {% if lang2 %}
                    {% set colspan = colspan + 1 %}
                {% endif %}

                <tfoot class="thead-dark">
                    <tr>
                        <th colspan="{{ colspan }}">
                            {{ t.Records(rec_count) }}
                        </th>

                        {{ self.add_code_th(can_add, set) }}
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

{% endblock %}
