{% macro input_hidden(name, value) %}
    <input type="hidden" name="{{ name }}" value="{{ value }}">
{% endmacro input_hidden %}

{% macro input_row_admin(type, name, checked, label, hint) %}
    <div class="form-group row">
        <div class="col-md-3">{{ label }}</div>
        <div class="col">
            <div class="custom-control custom-{{ type }}">
                <input
                    id="admin-{{ type }}-{{ name }}"
                    class="custom-control-input"
                    type="{{ type }}"
                    name="admin[]"
                    value="{{ name }}"
                    {{ checked ? 'checked' }}>
                <label
                    for="admin-{{ type }}-{{ name }}"
                    class="custom-control-label text-muted">
                    {{ hint }}
                </label>
            </div>
        </div>
    </div>
{% endmacro input_row_admin %}

{% macro adminflags(admin) %}
    {% spaceless %}
        {% if admin.param %}
            <span data-toggle="tooltip" title="{{ t.ParameterSet }}">P</span>{% endif %}
        {% if admin.slave %}
            <span data-toggle="tooltip" title="{{ t.SlaveSet }}">S</span>{% endif %}
        {% if admin.multi %}
            <span data-toggle="tooltip" title="{{ t.MultilineSet }}">M</span>{% endif %}
    {% endspaceless %}
{% endmacro adminflags %}
