{% extends 'index.twig' %}

{% block content %}

    {% include 'code-select.twig' %}

    <hr>

    <div class="row mb-3">
        <div class="col text-center h3">
            {{ t.CreateSlaveSet }}
        </div>
    </div>

    <form action="{{ pathFor('POST slave') }}" method="post">

        <div class="row form-group">
            <label class="col-md-3 col-form-label" for="set-code">{{ t.Set }}</label>
            <div class="col col-sm-6 col-md-4 col-lg-3">
                <input
                    id="set-code"
                    class="form-control"
                    type="text"
                    name="set"
                    maxlength="16"
                    required="required">
                <small class="form-text">{{ t.CodeMaxChars(16) }}</small>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-3 col-form-label" for="set-code">{{ t.Name }}</label>
            <div class="col col-lg-7 col-xl-6">
                <input
                    id="set-code"
                    class="form-control"
                    type="text"
                    name="desc"
                    maxlength="50"
                    required="required">
                <small class="form-text">{{ t.CodeMaxChars(50) }}</small>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-3 col-form-label" for="input-order">{{ t.CodeOrderIncrement }}</label>
            <div class="col">
                <div class="input-group input-group-sm spinner" data-trigger="spinner">
                    <div class="input-group-prepend">
                        <div class="input-group-text px-0">
                            <button class="btn btn-link btn-sm text-body" data-spin="down">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        id="input-order"
                        class="form-control"
                        type="text"
                        data-rule="defaults"
                        name="order"
                        value="10"
                        pattern="[0-9]*">
                    <div class="input-group-append">
                        <span class="input-group-text px-0">
                            <button class="btn btn-link btn-sm text-body" data-spin="up">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </div>
                </div>

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-3 col-form-label" for="slave-data">{{ t.SlaveSetData }}</label>
            <div class="col">
                <textarea
                    id="slave-data"
                    class="form-control"
                    name="data"
                    rows="15"
                    required="required"></textarea>
                <small class="form-text">{{ t.SlaveSetDataHint }}</small>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col">
                <button type="submit" class="btn btn-block btn-primary">
                    <i class="fa fa-floppy-o"></i>
                    {{ t.Save }}
                </button>
            </div>
        </div>

    </form>

{% endblock %}
